.App {


}


html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.inTown {
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 80px;
  margin-bottom: 40px;
  margin-top: 10px;
}

.taxiSize {
  height: 60px;
  width: auto;
  margin-left: 10px;
}

.GoogleMaps {
  display: inline-block;
  padding-left: 2%;
  padding-top: 7%;
}



.boxAndGoogleMap{
display: flex;
justify-content: flex-start;
}


button {
position: absolute;
margin-left: 60%;
margin-top: -60%;
font-family: 'Lobster', cursive;
font-size: 30px;
}



/*.emailMe {
  display: block;
  padding-top: 600px;
  padding-left:300px;
}*/

h3{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

ul {
  list-style: none
}

.CheckBox {
  display: inline-block;
  padding-left: 10%;
}

input {
  display: inline-block;
}

.myli{
  display: inline-block;
}



@keyframes move {
{transition: translate;}
}



