.App {


}

.inTown {
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 80px;
  margin-bottom: 40px;
}

.taxiSize {
  height: 60px;
  width: auto;
  margin-left: 10px;
}
ul {
  list-style: none
}

.CheckBox {
  /*float:left;*/
  display: inline-block;

  padding-left: 10%;
}

input {
  display: inline-block;
}
.myli{
  display: inline-block;

}


h3{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}


.GoogleMaps {
  display: inline-block;
  padding-left: 4%;
}



